[Unit]
Description=MAAS instance of Kea DHCP server for IPv4
Documentation=man:kea-dhcp4(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target
BindsTo=maas-rackd.service
ConditionPathExists=/var/lib/maas/kea-dhcp4.conf

[Service]
# Allow dhcp server to write lease and pid file as 'dhcpd' user
# The leases files need to be root:dhcpd even when dropping privileges
ExecStartPre=/bin/mkdir -p /run/maas-dhcp
ExecStart=/bin/sh -ec '\
    INTERFACES=$(cat /var/lib/maas/dhcpd-interfaces); \
    chmod 775 /var/lib/maas/dhcp ; chmod 664 $LEASES_FILE; \
    exec kea-dhcp4 -c /var/lib/maas/kea-dhcp4.conf
# Require dhcpd stop in 8 seconds, if not kill it with 'mixed' mode.
TimeoutStopSec=8
KillMode=mixed
Environment="MAAS_DHCP_SOCK=/var/lib/maas/dhcpd.sock"
Environment="KEA_PIDFILE_DIR=/run/maas-dhcp/"

[Install]
WantedBy=multi-user.target
